body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 100vh; */
}
/* html {
  min-height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #5a289f !important;
}
.navbar .nav-item .nav-link {
  color: #d3d3d3;
}
.navbar .nav-item .nav-link:hover {
  color: #fff;
}
.carousel-item {
  height: 60vh;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;

  object-fit: cover;
}
.movieHeading {
  color: #da0662;
}
.footer {
  background-color: #5a289f;
  color: #d3d3d3;
}
.footer-icon {
  color: #d3d3d3;
}
.footer i {
  color: #d3d3d3;
}
.footer i:hover {
  color: #fff;
}
